<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwfY82dhQzlxN8_nlGcq0ivV8_PF5xvFw</string>
	<key>GCM_SENDER_ID</key>
	<string>241027612374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mmuhamadiev.deepfacetest.deepfaceTest</string>
	<key>PROJECT_ID</key>
	<string>deepfacedemo-2c7d4</string>
	<key>STORAGE_BUCKET</key>
	<string>deepfacedemo-2c7d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241027612374:ios:d28efe555b2038c9255377</string>
</dict>
</plist>